*~
*.pyc
software/build/*
/software/software.kdev4
*.kate-swp
/software/.kdev4/software.kdev4
/software/pc/logs/*
/software/avr/library/libintech/#ax12.hpp#
/software/pc/config/local.ini
/software/pc/*.py
/"Solidworks/Ascenseur/Demi goutti\303\250re.SLDPRT"
/"Solidworks/Ascenseur/Glissi\303\250re.SLDPRT"
/"Solidworks/Ascenseur/Pi\303\250ceALaCon.SLDPRT"
/"Solidworks/Ascenseur/Quart de goutti\303\250re.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/~$Sym\303\251trieAssemblageBras.SLDASM"
/"Solidworks/Ascenseur/Robot 2011/bras/Sym\303\251trieAssemblageBras.SLDASM"
/"Solidworks/Ascenseur/Robot 2011/bras/~$Sym\303\251trieequerre240mm.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/Sym\303\251trieequerre240mm.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/~$Sym\303\251trieroulementCylindre.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/Sym\303\251trieroulementCylindre.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/~$Sym\303\251trieroulementPlaque.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/bras/Sym\303\251trieroulementPlaque.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/pieces/~$Sym\303\251trieservo.SLDPRT"
/"Solidworks/Ascenseur/Robot 2011/pieces/Sym\303\251trieservo.SLDPRT"
/"Solidworks/Ascenseur/Support  Demi goutti\303\250re 1.SLDPRT"
/"Solidworks/Ascenseur/Support  Demi goutti\303\250re 2.SLDPRT"
/"Solidworks/Ascenseur/Support des deux goutti\303\250res.SLDPRT"
/"Solidworks/Ascenseur/Support Quart goutti\303\250re 1.SLDPRT"
/"Solidworks/Ascenseur/Support Quart goutti\303\250re 2.SLDPRT"
