*~
*.pyc
*.o
*.so
*.user
software/build/*
/software/software.kdev4
*.kate-swp
/software/.kdev4/software.kdev4
/software/pc/logs/*
/software/avr/library/libintech/#ax12.hpp#
/software/pc/config/local.ini
/software/pc/*.py
/software/pc/src/test.py
bin/
gen/
obj/
.classpath
.cproject
project.properties
